---
layout: "base.njk"
---

<article itemid="#" itemscope itemtype="https://drmuhammadkhan.com">
  <div class="grid items-center grid-cols-1 md:grid-cols-2">
    <div class="order-2 h-64 md:order-1 md:h-full">
      <img src="{{ image }}" class="object-cover w-full h-full bg-center" alt="{{imageAlt}}" />
    </div>
    <div class="order-1 w-full px-4 py-12 mx-auto text-left md:w-3/4 md:py-48 md:order-2 md:px-0">
      <p class="mb-3 text-gray-500">
        <time itemprop="datePublished dateModified" datetime="2010-08-07 11:11:03-0400" pubdate>{{ date | postDate }}  |  Estimated Read Time: {{ content | readingTime }}</time>
      </p>
      <!-- <span class="text-black">Read time:</span> About {{ content | readingTime }}</span> -->
      <span class="font-weight: 700;"><b>Tags:</b> </span> {% for tags in tags.slice(1, tags.length)
        %}
        <p
          class="
            inline-block
            px-3
            py-1
            text-sm
            font-semibold
            text-gray-700
            mr-2
            mb-2
            mt-2
          "
          ># {{ tags }}</p
        >
        {% endfor %}
      <h1 class="mb-5 text-3xl font-bold text-gray-900 md:leading-tight md:text-4xl" itemprop="headline" title="{{title}}">
        {{ title }}
      </h1>
      
      <a class="flex items-center text-gray-700">
          <p class="text-sm font-semibold text-gray-800">{{author}}</p>
        </div>
      </a>
    </div>
  </div>

<div class="prose p-3 max-w-5xl m-auto contimg">
  {{ content | safe }}
</div>



