<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- smooth scrolling -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- NetlifyCMS -->

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"
    ></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: "Enter App ID",
        apiKey: "Enter API Key",
        siteId: "Enter Site ID",
        branch: "master",
        selector: "div#search",
      });
    </script> -->

    <!-- Typography Plugin From TailwindCSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    />

    <meta name="author" content="{{ site.authorName }}" />
    <meta name="description" content="{{ site.description }}" />
    <link
      rel="icon"
      href="https://i.ibb.co/2qTzMFD/Logo-1.png"
      type="image/svg+xml"
    />

    <!-- Fontawesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      let offsett = $(hash).offset().top
      offsett = offsett + 10

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: offsett
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <link rel="stylesheet" href="/build/tailwind.css" />
    <link rel="stylesheet" href="/build/style.css" />
    <link rel="stylesheet" href="/build/style.map.css" />
    <link rel="stylesheet" href="/site/style.css" />
    <link rel="stylesheet" href="./site/style.css" />
    <link rel="stylesheet" href="site/style.css" />

    <!-- Alpine Js -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>

 

    <title>{{ title }}</title>
  </head>

  <body>
    {% include './components/header.njk' %}
    <div class="headerseperator"></div>
    <main> 
      {{ content | safe }}
    </main>
    {% include './components/footer.njk' %}
  </body>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
   AOS.init()
  </script>
   <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
 />
</html>
